@model MenuViewModel
<h1>Inserisci nuovo Menù</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <input type="submit" value="Inserisci" class="btn btn-primary" />
    <input type="reset" value="Reset" class="=btn btn-primary" />
    <a class="btn btn-primary" asp-controller="Menu" asp-action="Index">Indietro</a>
</form>