@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ristorante da Luigi</h1>
    <img src=https://th.bing.com/th/id/R.2f6754422caf8c4c992c001c6f49a2b8?rik=AwtSmDyt0YvKEg&pid=ImgRaw&r=0 />
</div>
